* {
    margin: 0;
    padding: 0;
    user-select: none;
}

.fundo {
    background-image: linear-gradient(45deg, black, #010326);
    height: 100vh;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.calculadora {
    position: absolute;
    background-color: #725ef2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    padding: 15px;
}

.botao {
    width: 50px;
    height: 30px;
    font-size: 20px;
    margin: 3px;
    cursor: pointer;
    background-color: #0d05f2;
    border: none;
    color: white
}

.botao-function {
    width: 50px;
    height: 30px;
    font-size: 20px;
    margin: 3px;
    cursor: pointer;
    background-color: #081040;
    border: none;
    color: white
}

.botao-igual {
    width: 50px;
    height: 30px;
    font-size: 20px;
    margin: 3px;
    cursor: pointer;
    background-color: #f24bc6;
    border: none;
    color: white
}

.botao:hover{
    background-color: black;
}

#resultado{
    background-color: white;
    width: 215px;
    height: 50px;
    margin: 5px;
    font-size: 25px;
    color: black;
    text-align: right;
    padding: 5px;
}